<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a>Dashboard</a></li>
    <li><a>Customers</a></li>
  </ul>
  <p class="menu-label">
    Administration
  </p>
  <ul class="menu-list">

    <li>
      <a class="is-active">Packages</a>
      <ul>
        <li><a>Single Day</a></li>
        <li><a>Multi-Day</a></li>
      
      </ul>
    </li>

  </ul>
  <p class="menu-label">
    Transactions
  </p>
  <ul class="menu-list">
    <li><a>Payments</a></li>
    <li><a>Bookings</a></li>
  
  </ul>
</aside>
